<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdp.xbconsole.pageModel.PageModelMapper">
  <resultMap id="BaseResultMap" type="com.sdp.pageModel.entity.PageModel">
    <id column="page_id" jdbcType="VARCHAR" property="pageId" />
    <result column="page_type_id" jdbcType="VARCHAR" property="pageTypeId" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="page_text" jdbcType="VARCHAR" property="pageText" />
    <result column="page_pure_text" jdbcType="VARCHAR" property="pagePureText" />
    <result column="page_style" jdbcType="VARCHAR" property="pageStyle" />
    <result column="page_js" jdbcType="VARCHAR" property="pageJs" />
    <result column="page_sort_id" jdbcType="INTEGER" property="pageSortId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />    
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  
   <sql id="Base_Column_List">
       page_id, page_type_id, page_name, page_text, page_pure_text, page_style, page_js, page_sort_id, 
       tenant_id,create_date, create_by, update_date,update_by
   </sql>
   
  <select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    	* 
    from page_model where 1=1
        <if test="pageTypeId != null">
            and page_type_id = #{pageTypeId,jdbcType=VARCHAR}
        </if>
		<if test="pageName != null">
            and page_name LIKE '%${pageName}%'
		</if>
		<if test="tenantId != null">
	    	and tenant_id = #{tenantId,jdbcType=VARCHAR}
		</if>
      order by page_sort_id ASC
  </select>
  
  <select id="findByCondition" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from page_model where 1=1
		<if test="pageId != null and pageId != ''">
            and page_id = #{pageId,jdbcType=VARCHAR}
        </if>
        <if test="pageTypeId != null">
            and page_type_id = #{pageTypeId,jdbcType=VARCHAR}
        </if>
        <if test="pageName != null and pageName != ''">
            and page_name LIKE '%${pageName}%'
        </if>
        <if test="pageText != null">
            and page_text = #{pageText,jdbcType=VARCHAR}
        </if>
        <if test="pagePureText != null">
            and page_pure_text = #{pagePureText,jdbcType=VARCHAR}
        </if>
        <if test="pageStyle != null">
            and page_style = #{pageStyle,jdbcType=VARCHAR}
        </if>
        <if test="pageJs != null">
            and page_js = #{pageJs,jdbcType=VARCHAR}
        </if>
        <if test="pageSortId != null">
            and page_sort_id = #{pageSortId,jdbcType=INTEGER}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null">
            and create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
         <if test="createBy != null">
            and create_by = #{createBy,jdbcType=VARCHAR}
        </if>
         <if test="updateDate != null and parentId != ''">
            and update_date = #{updateDate,jdbcType=TIMESTAMP}
        </if>
         <if test="updateBy != null">
            and update_by = #{updateBy,jdbcType=VARCHAR}
        </if>
        order by page_sort_id ASC
	</select>
  
  
  <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from  page_model where page_id = #{pageId}
  </select>
  
  <insert id="insert" parameterType="com.sdp.pageModel.entity.PageModel">
    <selectKey keyProperty="pageId" resultType="string" order="BEFORE">    
             select  replace(uuid(),'-','')   from dual  
    </selectKey> 
    insert into page_model (page_id, page_type_id, page_name, 
      page_text, page_pure_text, page_style, 
      page_js, page_sort_id, tenant_id, 
      create_date, create_by, update_date, 
      update_by)
    values (
    	#{pageId,jdbcType=VARCHAR}, 
    	#{pageTypeId,jdbcType=VARCHAR}, 
    	#{pageName,jdbcType=VARCHAR}, 
        #{pageText,jdbcType=VARCHAR}, 
        #{pagePureText,jdbcType=VARCHAR}, 
        #{pageStyle,jdbcType=VARCHAR}, 
        #{pageJs,jdbcType=VARCHAR}, 
        #{pageSortId,jdbcType=INTEGER}, 
        #{tenantId,jdbcType=VARCHAR}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createBy,jdbcType=VARCHAR}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateBy,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.sdp.pageModel.entity.PageModel">
        update page_model
        <set>
            <if test="pageTypeId != null">
                 page_type_id=#{pageTypeId,jdbcType=VARCHAR},
            </if>
            <if test="pageName != null">
                page_name=#{pageName,jdbcType=VARCHAR},
            </if>
            <if test="pageText != null">
               page_text= #{pageText,jdbcType=VARCHAR},
            </if>
            <if test="pagePureText != null">
                page_pure_text=#{pagePureText,jdbcType=VARCHAR},
            </if>
            <if test="pageStyle != null">
                page_style=#{pageStyle,jdbcType=VARCHAR},
            </if>
            <if test="pageJs != null">
                page_js=#{pageJs,jdbcType=VARCHAR},
            </if>
            <if test="pageSortId != null">
                page_sort_id=#{pageSortId,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date=#{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by=#{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date=#{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null ">
                update_by=#{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where page_id = #{pageId,jdbcType=VARCHAR}
    </update>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from page_model
    where page_id = #{pageId,jdbcType=VARCHAR}
  </delete>
  
</mapper>